spring:
  application:
    name: side
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:postgresql://localhost:1234/side
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  docker:
    compose:
      enabled: true
      lifecycle-management: start_and_stop
      file: docker-compose.yml
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
      continue-on-error: false
  elasticsearch:
    uris: localhost:9200
    connection-timeout: 10s
    socket-timeout: 60s
  data:
    elasticsearch:
      repositories:
        enabled: true

